<form #myForm="ngForm" (submit)="onSubmit(myForm)">
    <fieldset ngModelGroup="informacoes">
        <label>
      nome:
      <input type="text" name="nome" [(ngModel)]="informacoes.nome">
    </label>
        <label>
      Idade:
      <input type="number" name="idade" [(ngModel)]="informacoes.idade">
    </label>
        <label>
      Email:
      <input type="email" name="email" [(ngModel)]="informacoes.email">
    </label>
        <label>
      Confirmar Email:
      <input type="email" name="confirmarEmail" [(ngModel)]="informacoes.confirmarEmail">
    </label>
    </fieldset>
    <fieldset ngModelGroup="endereco">
        <label>
        cep:
        <input type="text" name="cep" ngModel #cep (blur)="getCep(cep.value)">
      </label>
        <label>
    cidade:
    <input type="text" name="localidade" ngModel>
  </label>
        <label>
    estado:
    <input type="text" name="uf" ngModel>
    </label>
    </fieldset>
    <button type="submit">ENVIAR</button>
</form>
